@import "vars"

/*==========  Desktop First  ==========*/

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px)
	/**/
	.container
		min-width: 0
		padding: 0 15px
	#slider
		min-width: 900px!important

	.header
		&__logo
			padding: 0

/* Medium Devices, Desktops */
@media only screen and (max-width : 992px)
	/**/
	#slider
		min-width: 90%!important
		min-height: 340px!important
	/*HEADER*/
	.header
		&__logo
			flex-shrink: 5
			font-size: 40px
		&__nav
			padding-left: 30px
			&__item
				text-align: center
		&__slider
			height: 400px

	/*MIDDLE SECTION*/
	.middle-section
		height: auto
		&__content
			flex-wrap: wrap
		&__item
			flex-basis: 45%
			padding-bottom: 50px

	/*TESTIMONIALS & CLIENTS*/
	.testimonials-clients
		justify-content: space-between
	.testimonials
		padding-right: 20px
	.clients
		&__content
			flex-wrap: wrap
			&__item
				flex-basis: 50%
				border: 1px solid #e8ebf1!important

	.download-adw
		padding:  25.2px 28px 21px 21px
		align-items: center
		height: auto
		&__text
			padding-right: 10px

	/*FOOTER*/
	.footer
		&__social
			margin: auto
			text-align: center
			// flex-basis: 50%
			&__box
				flex-wrap: nowrap
		&__bottom
			&:before
				content: ''
				width: 100%
				position: relative
				display: block
				height: 3px
				top: -15px
				background-color: $accent
			
/* Small Devices, Tablets */
@media only screen and (max-width : 768px)
	/**/
	#my-menu
		opacity: 1
	.container
		padding: 20px
	#slider
		min-height: 300px!important
	.hamburger
		display: block
	.header
		&__nav
			display: none
		&__logo
			// text-align: center
			display: block
			// background-color: #fff
			// flex-basis: 100vw
			// border-radius: 0 0 50px 50px
			font-size: 40px
		&__top
			width: 100%
			&--flex
				padding: 0 20px
				background: #fff
				align_content: center
		&__slider
			height: 360px

	.owl-carousel
		img
			// height: 200px
			width: 200px

	/*TESTIMONIALS & CLIENTS*/
	.testimonials-clients
		flex-direction: column
		align-items: center
		text-align: center
		height: auto!important
	.testimonials
		padding: 0
		margin-bottom: 20px
		flex-basis: 0
		&__header
			text-align: center
			display: inline-block
			margin-top: 10px
			&__logo,&__title
				display: inline-block
	.clients
		&__content
			margin-bottom: 20px
			flex-wrap: wrap
			&__item
				flex-basis: 33%
		&__header
			margin-top: 10px
			text-align: center
			display: inline-block
		&__logo,&__title
			display: inline-block

	.download-adw
		flex-wrap: wrap
		justify-content: center
		text-align: center
		&__text
			padding-right: 0
			margin-bottom: 20px

	/*FOOTER*/

	.footer
		&--flex-container
			flex-wrap: wrap
			text-align: center
			margin: auto
			width: 90%

		&__about
			flex-basis: 100%
		&__explore
			padding-right: 30px
			.li--footer
					width: 26%
		&__browse
			padding-left: 30px
		&__explore,&__browse
			flex-basis: 50%
			&__list
				margin-top: 10px
				display: flex
				flex-wrap: wrap
				justify-content: space-between
		&__contacts
			flex-basis: 45%		
			&--flex
				display: flex	
				justify-content: space-around
				margin: auto
			&__addr,&__mobile
				display: inline-block
				flex-grow: 3
			&__moblie
				flex-grow: 5
		&__social
			margin-right: 6%
			text-align: center
			flex-basis: 32%
			&__box
				flex-wrap: wrap
		
		&__about,&__explore,&__browse
			&:after
				content: ''
				width: 100%
				height: 1px
				background-color: #c4c4c4
				position: relative
				display: block
		&__bottom
			margin-bottom: 10px
@media only screen and (max-width : 700px)
	/*HEADER*/
	.ug-item-wrapper,.ug-slider-inner,.ug-slider-wrapper
		height: 285px!important
	.bullets__menu
		margin-top: -15px
	.header__slider
		height: 335px

	/*FOOTER*/
	.footer
		&__explore
			padding-right: 30px
			.li--footer
				width: auto
		&__browse
		&__explore,&__browse
			padding: 0
			flex-basis: 100%
			&__list
				margin-top: 10px
				display: flex
				flex-wrap: wrap
				justify-content: space-around
		&__contacts
			flex-basis: 100%		
			&--flex
				display: flex	
				justify-content: space-around
				margin: auto
				align-items: flex-end
			&__addr--title
				display: inline-block
			&__addr,&__mobile
				display: inline-block
				fwlex-wrap: wrap
				margin-bottom: 10px
				flex-grow: 3
				.p--footer
					display: inline-block
					margin: 0
			&__moblie
				flex-grow: 5
		&__social
			margin-right: 6%
			text-align: center
			flex-basis: 100%
			margin: auto
			&__box
				flex-wrap: wrap
		&__about,&__explore,&__browse,&__contacts
			&:after
				content: ''
				width: 100%
				height: 1px
				background-color: #c4c4c4
				position: relative
				display: block

@media only screen and (max-width : 600px)
	/**/
		/*HEADER*/
	.ug-item-wrapper,.ug-slider-inner,.ug-slider-wrapper
		height: 265px!important
	#slider
		min-height: 280px!important
	.header
		&__slider
			height: 300px
			padding: 0

	/*MIDDLE SECTION*/
	.middle-section
		&__content
			flex-direction: column
		&__item
			flex-basis: 90%
			padding-bottom: 50px

	/*CLIENTS*/
	.clients
		&__content
			width: auto
			&__item
				flex-basis: 50%

/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px)
	/**/
		/*HEADER*/
	.ug-item-wrapper,.ug-slider-inner,.ug-slider-wrapper
		height: 210px!important
	#slider
		min-height: 235px!important
	.header
		&__slider
			height: 250px
	/*CLIENTS*/
	.clients
		&__content
			width: auto
			justify-content: center
			&__item
				flex-basis: 50%

//IPHONE 8+
@media only screen and (max-width : 414px)
	/**/
		/*HEADER*/
	.ug-item-wrapper,.ug-slider-inner,.ug-slider-wrapper
		height: 200px!important
	#slider
		min-height: 215px!important
	.header
		&__slider
			height: 235px

@media only screen and (max-width : 400px)

	.footer
		&__social
			flex-basis: 70%
			&__box
			&__item
				flex-basis: 33%
//IPHONE 8
@media only screen and (max-width : 375px)
	/**/
		/*HEADER*/
	.ug-item-wrapper,.ug-slider-inner,.ug-slider-wrapper
		height: 190px!important
	#slider
		min-height: 205px!important

@media only screen and (max-width : 370px)
	/**/

	/*CLIENTS*/
	.clients
		&__content
			width: auto
			justify-content: center
			&__item
				flex-basis: 70%
				border-width: 2px!important
/* Custom, iPhone Retina */
@media only screen and (max-width : 320px)
	/**/
		/*HEADER*/
	.ug-item-wrapper,.ug-slider-inner,.ug-slider-wrapper
		height: 150px!important
	#slider
		min-height: 170px!important
	.header
		&__slider
			height: 195px

/*==========  Mobile First  ==========*/

/* Custom, iPhone Retina */
@media only screen and (min-width : 320px)
	/**/


/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px)
	/**/


/* Small Devices, Tablets */
@media only screen and (min-width : 768px)
	/**/


/* Medium Devices, Desktops */
@media only screen and (min-width : 992px)
	/**/


/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px)
	/**/

